<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <%= render partial: 'shared/survey_builder_header' %>
    </div>
    <p>First, choose a title and description for your survey.</p>
    <%= form_for @survey do |s| %>
      <%= s.label :title, "Survey Title" %><br>
      <%= display_form_errors(@survey, :title) %>
      <%= s.text_field :title %><br>
      <%= s.label :description, "Description" %><br>
      <%= display_form_errors(@survey, :description) %>
      <%= s.text_area :description %><br>
      <%= s.submit "Create Survey and Begin Adding Questions", class: "btn btn-lg btn-primary create-btn" %>
    <% end %>
  </div>
</div>
